language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
env:
  - DJANGO=1.4.5
  - DJANGO=1.5.1
install:
  - pip install Django==$DJANGO --use-mirrors
  - pip install -r requirements.txt --use-mirrors
  - pip install coveralls --use-mirrors
before_script:
  - python setup.py install
  - cd example_project
script:
  - coverage run --source=terms manage.py test terms
after_success:
  - coveralls

matrix:
  exclude:
    - python: 3.2
      env: DJANGO=1.4.5
    - python: 3.3
      env: DJANGO=1.4.5
