Django==1.11.29                ; python_version < '3.9'
Django==2.2.28                 ; python_version >= '3.9'
django-cms==3.5.4              ; python_version < '3.9'
django-cms==3.7.4              ; python_version >= '3.9'
django-haystack==2.8.1         ; python_version < '3.9'
django-haystack==3.1.1         ; python_version >= '3.9'
django-sekizai==0.10.0
django-treebeard==4.5.1        ; python_version >= '3.9'
django-treebeard==4.3.1        ; python_version < '3.9'
lxml==4.7.1                    ; python_version < '3.9'
lxml==4.9.2                    ; python_version >= '3.9'

