{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ term|capfirst }}</title>
  </head>
  <body>
    <h2>{{ term|capfirst }}</h2>
    <div style="text-align: justify;">
      {{ term.definition|safe }}
    </div>
    {% if perms.terms_change_term %}
      <button onclick="document.location =
                                 '{% url admin:terms_term_change term.pk %}';">
        {% trans 'Change' %}
      </button>
    {% endif %}
    {% if perms.terms_delete_term %}
      <button onclick="document.location =
                                 '{% url admin:terms_term_delete term.pk %}';">
        {% trans 'Delete' %}
      </button>
    {% endif %}
  </body>
</html>
